{{#each this}}
  <div class="title">
    <img alt="{{name}}" src={{flag}} width="50" height="30"/>
    <h2>{{name}}</h2>
  </div>

  <ul class="info">
    <li> <h3>Capital:</h3>  <span>{{capital}}</span> </li>
    <li> <h3>Population:</h3>  <span>{{population}}</span> </li>
    <li> <h3>Languages:</h3>  <span>{{#each languages}}{{name}} {{/each}}</span> </li>
  </ul>
  {{/each}}